<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>500815057845-rpaebclbpgeakdi48p2cjimgip5kh3ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500815057845-rpaebclbpgeakdi48p2cjimgip5kh3ja</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>500815057845-l8h2qecd1p58pkqfvlaik3dbqa6fltql.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIkLbn_B9vStqHhP9_4WTDB3f6WvVReG4</string>
	<key>GCM_SENDER_ID</key>
	<string>500815057845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.insiya.apple</string>
	<key>PROJECT_ID</key>
	<string>insiya-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>insiya-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500815057845:ios:e8e4c002d3a016a5</string>
	<key>DATABASE_URL</key>
	<string>https://insiya-mobile.firebaseio.com</string>
</dict>
</plist>
